# Optimización de redes (logística en cadenas de abastecimiento)

Joaquín Rodríguez Villegas - Learning

Sea el grafo $(A,N)$ un grafo dirigido donde $A$ es el conjunto de arcos y $N$ es el conjunto de nodos. Formalmente, la red logística tiene nodos de abastecimiento (oferta), nodos de transbordo (centros de distribución) y nodos de demanda (clientes). 

Se parte del supuesto de que en los nodos de abastecimiento se producen una variedad de productos. Por ende, el modelo teórico de optimización de redes que se presenta busca determinar la mejor forma de transportar el flujo de productos desde estos nodos de abastecimiento hacia los nodos de demanda en cada período de tiempo (Se pronostica por así decirlo la demanda esperada de cada producto en el respectivo periodo de tiempo). Además, se contempla la necesidad eventual de almacenar productos en los centros de distribución para su posterior despacho, el almacenamiento de productos conlleva a costos de inventario. El objetivo primordial es satisfacer la demanda de los clientes minimizando los costos totales, lo cual implica considerar restricciones de capacidad, balance más otras restricciones adicionales. 

El problema se formula como un modelo de programación lineal:

### Conjuntos, subconjuntos e índices

* $T$: Conjunto de periodos de tiempo, $t \in {1,2...,T}$
* $A$: Conjunto de arcos de la red, $(i,j) \in {1,2...,A}$
* $P$: Conjunto de productos, $p \in {1,2...,P}$
* $N$: Conjunto de nodos de la red, $i \in {1,2...,N}$
* $S \subset N$: Subconjunto de nodos que representan el abastecimiento (producción), $i \in {1,2,...,S}$
* $E \subset N$: Subconjunto de nodos que representan el transbordo (centros de distribución), $i \in {1,2,...,E}$
* $D \subset N$: Subconjunto de nodos que representan la demanda (clientes), $i \in {1,2,...,D}$
* $flujo_{j}^{e}$: Conjunto de nodos ${i}$ que son entradas $(i,j)$ al nodo ${j}$, $\forall i,j \in N$
* $flujo_{j}^{s}$: Conjunto de nodos ${k}$ que son salidas $(j,k)$ del nodo ${j}$, $\forall j,k \in N$

### Parámetros (datos)

* $l_{i}^{n}$: Capacidad mínima de almacenamiento (volumen) de productos en el nodo ${i}$, $\forall i \in N$
* $u_{i}^{n}$: Capacidad máxima de almacenamiento (volumen) de productos en el nodo ${i}$, $\forall i \in N$
* $l_{i,j}^{a}$: Capacidad mínima de envío (volumen) de productos desde el nodo ${i}$ al nodo ${j}$, $\forall (i,j) \in A$
* $u_{i,j}^{a}$: Capacidad máxima de envío (volumen) de productos desde el nodo ${i}$ al nodo ${j}$, $\forall (i,j) \in A$
* $c_{i,p}^{e}$: Costo unitario de almacenamiento del producto ${p}$ en cualquier periodo de tiempo para el centro de distribución ${i}$, $\forall i \in E \subset N, \forall p \in P$
* $c_{i,j}^{T}$: Costo unitario de transporte desde el nodo ${i}$ al nodo ${j}$, $\forall (i,j) \in A$
* $d_{i,p,t}$: Demanda esperada del producto ${p}$ en el nodo de demanda ${i}$ para el periodo de tiempo ${t}$, $\forall i \in D \subset N, \forall p \in P, \forall t \in T$
* $\gamma_{i,p}$: Inventario inicial del producto ${p}$ disponible en el centro de distribución ${i}$, $\forall p \in P, \forall i \in E \subset N$
* $m_{i,t}$: Capacidad máxima de producción en el nodo de abastecimiento ${i}$ para el periodo de tiempo ${t}$, $\forall i \in S \subset N, \forall t \in T$

### Variables de decisión (control por parte del tomador de decisión)
* $x_{i,j,t}^{p}$: Cantidad (volumen) del producto ${p}$ enviado desde el nodo ${i}$ al nodo ${j}$ en el periodo de tiempo ${t}$, $\forall p \in P, \forall (i,j) \in A, \forall t \in T$
* $y_{i,t}^{p}$: Cantidad (volumen) del producto ${p}$ a almacenar en el nodo ${i}$ al principio del periodo de tiempo ${t}$, $\forall p \in P, \forall i \in N, \forall t \in T$

### Función objetivo

   * **Minimizar costos totales.**

$$ \ Min\space \ Z = \sum_{t \in T}\sum_{p \in P}\sum_{i \in N} c_{i,p}^{e}*y_{i,t}^{p} + \sum_{t \in T}\sum_{p \in P}\sum_{(i,j) \in A} c_{i,j}^{T}*x_{i,j,t}^{p} $$


### Restricciones

**1. Ecuación balance de producto (almacenamiento)**.

$$  y_{j,t}^{p} =  \gamma_{j,p} + \sum_{(i,j) \in A, i \in flujo_{j}^{e}} x_{i,j,t}^{p} - \sum_{(j,k) \in A, k \in flujo_{j}^{s}} x_{j,k,t}^{p}, t = 1, \forall j \in E \subset N, \forall p \in P $$

$$  y_{j,t}^{p} =  y_{j,t-1}^{p} + \sum_{(i,j) \in A, i \in flujo_{j}^{e}} x_{i,j,t}^{p} - \sum_{(j,k) \in A, k \in flujo_{j}^{s}} x_{j,k,t}^{p}, \forall t \in T > 1, \forall j \in E \subset N, \forall p \in P $$

$$ y_{i,t}^{p} + \sum_{(i,j) \in A, j \in flujo_{i}^{s}} x_{i,j,t}^{p} = 0, t = 1, \forall i \in S \subset N, \forall p \in P $$

$$ y_{i,t}^{p} + \sum_{(i,j) \in A, j \in flujo_{i}^{s}} x_{i,j,t}^{p} = y_{i,t-1}^{p}, \forall t \in T > 1, \forall i \in S \subset N, \forall p \in P $$

**2. Ecuación de capacidad (envío y almacenamiento)**.

$$ l_{i}^{n} \leq \sum_{p \in P} y_{i,t}^{p} \leq u_{i}^{n}, \forall i \in N, \forall t \in T $$

$$ l_{i,j}^{a} \leq \sum_{p \in P} x_{i,j,t}^{p} \leq u_{i,j}^{a}, \forall (i,j) \in A, \forall t \in T $$

**3. Ecuación de satisfacción de la demanda**.

$$ \sum_{(i,j) \in A, i \in flujo_{j}^{e}} x_{i,j,t}^{p} \geq d_{j,p,t}, \forall j \in D \subset N, \forall p \in P,\forall t \in T $$

**4. Ecuación de capacidad de producción**.

$$ \sum_{p \in P} \sum_{(i,j) \in A, j \in flujo_{i}^{s}} x_{i,j,t}^{p} \leq m_{i,t}, \forall i \in S \subset N, \forall t \in T $$


**5. Ecuación de no negatividad**.

$$ x_{i,j,t}^{p} \geq 0, \forall (i,j) \in A, \forall t \in T, \forall p \in P $$

$$ y_{i,t}^{p} \geq 0, \forall i \in N, \forall t \in T, \forall p \in P $$

In [1]:
# Modelamiento usando Pyomo

import numpy as np
import pandas as pd
from pyomo.environ import *
import sys
from collections import defaultdict

# Importar datos de prueba

datos_url = 'datos_modelo_redes.xlsx'

datos_crudos_productos = pd.read_excel(datos_url, sheet_name = 'Productos')
datos_crudos_productos.head(10)

  Producto       ID Activo  Costo_almacenamiento  Inventario_inicial
0       R1  TRANS_1      Y                    47                 100
1       R1  TRANS_2      Y                    45                 100
2       R1  TRANS_3      Y                    44                 100
3       R2  TRANS_1      Y                    45                 100
4       R2  TRANS_2      Y                    45                 100
5       R2  TRANS_3      Y                    42                 100
6       R3  TRANS_1      Y                    48                 100
7       R3  TRANS_2      Y                    46                 100
8       R3  TRANS_3      Y                    45                 100

In [2]:
datos_crudos_capacidad = pd.read_excel(datos_url, sheet_name = 'Capacidad')
datos_crudos_capacidad.head(10)

       Fecha      ID Activo  Capacidad
0 2024-01-01  ABAS_1      Y      10000
1 2024-01-02  ABAS_1      Y      10000
2 2024-01-03  ABAS_1      Y      10000
3 2024-01-04  ABAS_1      Y      10000
4 2024-01-05  ABAS_1      Y      10000
5 2024-01-06  ABAS_1      Y      10000
6 2024-01-07  ABAS_1      Y      10000
7 2024-01-08  ABAS_1      Y      10000
8 2024-01-09  ABAS_1      Y      10000
9 2024-01-10  ABAS_1      Y      10000

In [3]:
datos_crudos_arcos = pd.read_excel(datos_url, sheet_name = 'Arcos')
datos_crudos_arcos

   Nodo_Inicio   Nodo_Fin  Flujo_Min  Flujo_Max Activo  Costo_transporte
0       ABAS_1    TRANS_1          0       9999      Y                39
1       ABAS_2    TRANS_1          0       9999      Y                36
2       ABAS_1    TRANS_2          0       9999      Y                36
3       ABAS_2    TRANS_2          0       9999      Y                35
4       ABAS_1    TRANS_3          0       9999      Y                33
5       ABAS_2    TRANS_3          0       9999      Y                36
6      TRANS_1  CLIENTE_1          0       9999      Y                36
7      TRANS_1  CLIENTE_2          0       9999      Y                32
8      TRANS_2  CLIENTE_1          0       9999      Y                36
9      TRANS_2  CLIENTE_2          0       9999      Y                37
10     TRANS_3  CLIENTE_1          0       9999      Y                36
11     TRANS_3  CLIENTE_2          0       9999      Y                38

In [4]:
datos_crudos_nodos_abastecimiento = pd.read_excel(datos_url, sheet_name = 'Nodo_abastecimiento')
datos_crudos_nodos_abastecimiento

       ID  Capacidad_Min  Capacidad_Max Activo
0  ABAS_1              0           9999      Y
1  ABAS_2              0           9999      Y

In [5]:
datos_crudos_nodos_transbordo = pd.read_excel(datos_url, sheet_name = 'Nodo_transbordo')
datos_crudos_nodos_transbordo

        ID  Capacidad_Min  Capacidad_Max Activo
0  TRANS_1              0           9999      Y
1  TRANS_2              0           9999      Y
2  TRANS_3              0           9999      Y

In [6]:
datos_crudos_nodos_cliente = pd.read_excel(datos_url, sheet_name = 'Nodo_cliente')
datos_crudos_nodos_cliente

          ID  Capacidad_Min  Capacidad_Max Activo
0  CLIENTE_1              0           9999      Y
1  CLIENTE_2              0           9999      Y

In [7]:
datos_crudos_demanda = pd.read_excel(datos_url, sheet_name = 'Demanda')
datos_crudos_demanda

        Fecha Producto         ID Activo  Demanda
0  2024-01-01       R1  CLIENTE_1      Y     1000
1  2024-01-02       R1  CLIENTE_1      Y     1000
2  2024-01-03       R1  CLIENTE_1      Y     1000
3  2024-01-04       R1  CLIENTE_1      Y     1000
4  2024-01-05       R1  CLIENTE_1      Y     1000
..        ...      ...        ...    ...      ...
67 2024-01-08       R3  CLIENTE_2      Y        0
68 2024-01-09       R3  CLIENTE_2      Y        0
69 2024-01-10       R3  CLIENTE_2      Y        0
70 2024-01-11       R3  CLIENTE_2      Y        0
71 2024-01-12       R3  CLIENTE_2      Y        0

[72 rows x 5 columns]

In [8]:
columnas = ['ID', 'Capacidad_Min', 'Capacidad_Max', 'Activo']
nodos = [datos_crudos_nodos_abastecimiento[columnas],
         datos_crudos_nodos_transbordo[columnas],
         datos_crudos_nodos_cliente[columnas]]
datos_nodos = pd.concat(nodos)
datos_nodos

          ID  Capacidad_Min  Capacidad_Max Activo
0     ABAS_1              0           9999      Y
1     ABAS_2              0           9999      Y
0    TRANS_1              0           9999      Y
1    TRANS_2              0           9999      Y
2    TRANS_3              0           9999      Y
0  CLIENTE_1              0           9999      Y
1  CLIENTE_2              0           9999      Y

In [9]:
datos_arcos = pd.merge(left = datos_crudos_arcos,\
                       right = datos_nodos[['ID']],\
                        left_on = 'Nodo_Fin',\
                        right_on = 'ID',\
                        how = 'left').drop('ID', 1)
datos_arcos

C:\Users\j.rodriguez.villegas\AppData\Local\Temp\ipykernel_19232\1922062414.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  datos_arcos = pd.merge(left = datos_crudos_arcos,\

   Nodo_Inicio   Nodo_Fin  Flujo_Min  Flujo_Max Activo  Costo_transporte
0       ABAS_1    TRANS_1          0       9999      Y                39
1       ABAS_2    TRANS_1          0       9999      Y                36
2       ABAS_1    TRANS_2          0       9999      Y                36
3       ABAS_2    TRANS_2          0       9999      Y                35
4       ABAS_1    TRANS_3          0       9999      Y                33
5       ABAS_2    TRANS_3          0       9999      Y                36
6      TRANS_1  CLIENTE_1          0       9999      Y                36
7      TRANS_1  CLIENTE_2          0       9999      Y                32
8      TRANS_2  CLIENTE_1          0       9999      Y                36
9      TRANS_2  CLIENTE_2          0       9999      Y                37
10     TRANS_3  CLIENTE_1          0       9999      Y                36
11     TRANS_3  CLIENTE_2          0       9999      Y                38

In [10]:
# Limpieza de arcos y nodos
datos_arcos = datos_arcos[datos_arcos['Activo']=="Y"].drop('Activo', axis= 1)
datos_arcos = datos_arcos.drop_duplicates().set_index(['Nodo_Inicio', 'Nodo_Fin'])

datos_nodos = datos_nodos[datos_nodos['Activo']=='Y'].drop('Activo', axis= 1)
datos_nodos = datos_nodos.drop_duplicates().set_index('ID')

datos_nodos_abastecimiento = datos_crudos_nodos_abastecimiento[datos_crudos_nodos_abastecimiento['Activo']=='Y'].drop('Activo', axis = 1)
datos_nodos_abastecimiento = datos_nodos_abastecimiento.drop_duplicates().set_index('ID')

datos_nodos_transbordo = datos_crudos_nodos_transbordo[datos_crudos_nodos_transbordo['Activo']=='Y'].drop('Activo', axis = 1)
datos_nodos_transbordo = datos_nodos_transbordo.drop_duplicates().set_index('ID')

datos_nodos_cliente = datos_crudos_nodos_cliente[datos_crudos_nodos_cliente['Activo']=='Y'].drop('Activo', axis = 1)
datos_nodos_cliente = datos_nodos_cliente.drop_duplicates().set_index('ID')

datos_productos = datos_crudos_productos[datos_crudos_productos['Activo']=='Y'].drop('Activo', axis = 1)
datos_productos = datos_productos.drop_duplicates().set_index(['Producto', 'ID'])

datos_demanda = datos_crudos_demanda[datos_crudos_demanda['Activo']=='Y'].drop('Activo', axis = 1)
datos_demanda = datos_demanda.drop_duplicates().set_index(['Fecha', 'Producto', 'ID'])

datos_capacidad = datos_crudos_capacidad[datos_crudos_capacidad['Activo']=='Y'].drop('Activo', axis = 1)
datos_capacidad = datos_capacidad.drop_duplicates().set_index(['Fecha', 'ID'])

# Definición de flujo entre nodos
periodos = datos_crudos_capacidad['Fecha'].unique().tolist()
nodos = set(datos_nodos.index)
nodos_abastecimiento = set(datos_nodos_abastecimiento.index)
nodos_transbordo = set(datos_nodos_transbordo.index)
nodos_cliente = set(datos_nodos_cliente.index)
arcos = set(datos_arcos.index)
productos = set(datos_productos.index)
salidas = defaultdict(set)
entradas = defaultdict(set)

for (i,j) in set(datos_arcos.index):
    salidas[i].add(j)
    entradas[j].add(i)

In [ ]:
# Optimizador de redes logísticas

from pyomo.environ import pe

model = pe.ConcreteModel('cadena_abastecimiento')
# Conjuntos
model.periodos = pe.Set(initialize=periodos)
model.nodos = pe.Set(initialize = nodos)
model.abastecimiento = pe.Set(within = model.nodos, initialize = nodos_abastecimiento)
model.transbordo = pe.Set(within = model.nodos, initialize = nodos_transbordo)
model.cliente = pe.Set(within = model.nodos, initialize = nodos_cliente)
model.productos = pe.Set(initialize = productos)
model.arcos = pe.Set(within = model.nodos*model.nodos, initialize = arcos)
model.entrada = pe.Param(model.nodos, initialize = entradas, default=set(), within=pe.Any)
model.salidas = pe.Param(model.nodos, initialize = salidas, default=set(), within=pe.Any)

# Parámetros
model.min_capacidad = pe.Param(model.nodos, initialize = datos_nodos['Capacidad_Min'].to_dict())
model.max_capacidad = pe.Param(model.nodos, initialize = datos_nodos['Capacidad_Max'].to_dict())
model.min_flujo = pe.Param(model.arcos, initialize = datos_arcos['Flujo_Min'].to_dict())
model.max_flujo = pe.Param(model.arcos, initialize = datos_arcos['Flujo_Max'].to_dict())
model.costo_almacenamiento = pe.Param(model.productos, model.transbordo, datos_productos['Costo_almacenamiento'].to_dict())
model.costo_transporte = pe.Param(model.arcos, initialize = datos_arcos['Costo_transporte'].to_dict())
model.demanda_esperada = pe.Param(model.periodos, model.productos, model.cliente, initialize = datos_demanda['Demanda'].to_dict())
model.inventario_inicial = pe.Param(model.productos, model.transbordo, datos_productos['Inventario_inicial'].to_dict())
model.cap_max_prod = pe.Param(model.periodos, model.abastecimiento, datos_capacidad['Capacidad'].to_dict())

# Variables
model.x = pe.Var(model.productos, model.arcos, model.periodos, domain = pe.NonNegativeReals)
model.y = pe.Var(model.productos, model.nodos, model.periodos, domain = pe.NonNegativeReals)

# Función objetivo

def calculate_total_costs(model):
    '''
    This function calculates the total logistic costs.

    Parameters
    ----------
    model : Pyomo ConcreteModel
        The optimization model.

    Return
    ------------
    double
        Total logistics costs.
    '''
    total_inventory_costs = sum(model.costo_almacenamiento[p,i] * model.y[p,i,t] for p in model.productos for i in model.nodos for t in model.periodos)
    total_transportation_costs = sum(model.costo_transporte[i,j] *  model.x[p,i,j,t] for p in model.productos for (i,j) in model.arcos for t in model.periodos)
    total_logistic_costs = total_inventory_costs + total_transportation_costs
    return total_logistic_costs

# Restricciones

def c_1_balance_product(model, t, j, p):
    '''
    Generates the product p flow balance constraint expression for the node i in time t.

    Parameters
    ----------
    model : Pyomo ConcreteModel
        The optimization model.
    t: int
        Time dimension
    j : string
        The node.
    p : string
        The product
        
    Returns
    -------
    Constraint Expression
        Relational expression for the constraint.
    '''
    product_in = sum(model.x[p,i,j,t] for i in model.entrada[j])
    product_out = sum(model.x[p,j,k,t] for k in model.salida[j])
    product_inventory = model.inventario_inicial[p,j]
    product_stored = model.y[p,j,t]
    product_stored_previous = model.y[p,j,t-1]

    if j in list(model.abastecimiento):
        if t == model.periodos.first():
            return product_stored + product_out == 0
        else:
            return product_stored + product_out == product_stored_previous
    else:
        if t == model.periodos.first():
            return product_stored == product_inventory + product_in - product_out
        else:
            return product_stored == product_stored_previous + product_in - product_out     
        
def c_2_balance_capacity_node(model, t, i):
    ''' 
    Generates the capacity constraint expression for the node i in time t (products capacity).

    Parameters
    ----------
    model : Pyomo ConcreteModel
        The optimization model.
    t: int
        Time dimension
    i : string
        The node.

    Returns
    -------
    Constraint Expression
        Relational expression for the constraint.
    '''
    capacity_min = model.min_capacidad[i]
    capacity_max = model.max_capacidad[i]
    capacity_decision = sum(model.y[p,i,t] for p in model.productos)
    return (capacity_min, capacity_decision, capacity_max)

def c_3_balance_capacity_arcs(model, t, i, j):
    ''' 
    Generates the capacity constraint expression for the arc (i,j) in time t.

    Parameters
    ----------
    model : Pyomo ConcreteModel
        The optimization model.
    t: int
        Time dimension    
    i : string
        The arc's supply node.
    j : string
        The arc's demand node.

    Returns
    -------
    Constraint Expression
        Relational expression for the constraint.
    '''
    flujo_min = model.min_flujo[i,j]
    flujo_max = model.max_flujo[i,j]
    flujo_decision = sum(model.x[p,i,j,t] for p in model.productos)
    return (flujo_min, flujo_decision, flujo_max)